<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <%= flash[:notice] %>
  <div class="container">
   <div class="row">
     <div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-6">
  <h1>welcome to <i class="fas fa-book"></i>Bookers !!</h1>
  <h3>In  <i class="fas fa-book"></i>Bookers,</h3>
  <h3>you can share and exchange your opinions , inpressions , and emotions</h3>
  <h3>about various books!</h3>
  <body>
    <a class="nav-item">
    <%= link_to new_user_session_path, class: 'nav-link text-dark' do%>
    <button class="btn btn-info btn-sm btn-block mb-3 sign_in" >Log in</button>
    <%end%>
   </li>
   <a class="nav-item">
    <%= link_to new_user_registration_path, class: 'nav-link text-dark' do%>
    <button class="btn btn-success btn-sm btn-block sign_up" >Sign up</button>
    <%end%>
   </li>
   </div>
   </div>
   </div>
</body>